<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CERTIFICATE</title>
</head>
<body>
    <div style="text-align: center;">
        <h2>Mr/Ms {{name}} Completed {{courseName}} in Juego Studios course platform.</h2>
        <h3>He/she has scored {{marks}} in {{courseName}}</h3>
        <button onclick=location.href="/viewJoinedCourses">Back to Joined Courses</button>
    </div>
</body>
</html>