<!DOCTYPE html>
<html>

<head>
    <title>create test</title>

</head>

<body>
    <h1>Creating test for {{this.name}}</h1>
    <form action="/createTest:{{this._id}}" method="POST" style="text-align: center;">
        <label for="first"> enter first question : </label>
        <input type="text" name="first" id="first" required>
        <br><br>
        <label for="options">enter 4 options</label>
        <br><br>
        option1 <input type="text" name="first1" id="first1" required> <br>
        option2 <input type="text" name="first2" id="first2" required> <br>
        option3 <input type="text" name="first3" id="first3" required> <br>
        option4 <input type="text" name="first4" id="first4" required> <br><br>

        <label for="firstAnswer">choose correct answer</label>
        <select name="firstAnswer" id="options" required>
            <option value="first1">Option 1</option>
            <option value="first2">Option 2</option>
            <option value="first3">Option 3</option>
            <option value="first4">Option 4</option>
        </select>
        <br>
        <hr><br>

        <label for="second"> enter second question : </label>
        <input type="text" name="second" id="second" required>
        <br><br>
        <label for="options">enter 4 options</label>
        <br><br>
        option1 <input type="text" name="second1" id="second1" required> <br>
        option2 <input type="text" name="second2" id="second2" required> <br>
        option3 <input type="text" name="second3" id="second3" required> <br>
        option4 <input type="text" name="second4" id="second4" required> <br><br>

        <label for="secondAnswer">choose correct answer</label>
        <select name="secondAnswer" id="options" required>
            <option value="second1">Option 1</option>
            <option value="second2">Option 2</option>
            <option value="second3">Option 3</option>
            <option value="second4">Option 4</option>
        </select>
        <br>
        <hr><br>


        <label for="third"> enter third question : </label>
        <input type="text" name="third" id="third" required>
        <br><br>
        <label for="options">enter 4 options</label>
        <br><br>
        option1 <input type="text" name="third1" id="third1" required> <br>
        option2 <input type="text" name="third2" id="third2" required> <br>
        option3 <input type="text" name="third3" id="third3" required> <br>
        option4 <input type="text" name="third4" id="third4" required> <br><br>

        <label for="thirdAnswer">choose correct answer</label>
        <select name="thirdAnswer" id="options" required>
            <option value="third1">Option 1</option>
            <option value="third2">Option 2</option>
            <option value="third3">Option 3</option>
            <option value="third4">Option 4</option>
        </select>
        <br>
        <hr><br>


        <label for="fourth"> enter fourth question : </label>
        <input type="text" name="fourth" id="fourth" required>
        <br><br>
        <label for="options">enter 4 options</label>
        <br><br>
        option1 <input type="text" name="fourth1" id="fourth1" required> <br>
        option2 <input type="text" name="fourth2" id="fourth2" required> <br>
        option3 <input type="text" name="fourth3" id="fourth3" required> <br>
        option4 <input type="text" name="fourth4" id="fourth4" required> <br><br>

        <label for="fourthAnswer">choose correct answer</label>
        <select name="fourthAnswer" id="options" required>
            <option value="fourth1">Option 1</option>
            <option value="fourth2">Option 2</option>
            <option value="fourth3">Option 3</option>
            <option value="fourth4">Option 4</option>
        </select>
        <br>
        <hr><br>

        <label for="fifth"> enter fifth question : </label>
        <input type="text" name="fifth" id="fifth" required>
        <br><br>
        <label for="options">enter 4 options</label>
        <br><br>
        option1 <input type="text" name="fifth1" id="fifth1" required> <br>
        option2 <input type="text" name="fifth2" id="fifth2" required> <br>
        option3 <input type="text" name="fifth3" id="fifth3" required> <br>
        option4 <input type="text" name="fifth4" id="fifth4" required> <br><br>

        <label for="fifthAnswer">choose correct answer</label>
        <select name="fifthAnswer" id="options" required>
            <option value="fifth1">Option 1</option>
            <option value="fifth2">Option 2</option>
            <option value="fifth3">Option 3</option>
            <option value="fifth4">Option 4</option>
        </select>
        <br>
        <hr><br>


        <input style="border: 2px solid black;padding:10px;align-self:center;" type="submit" value="submit">
    </form>
</body>

</html>