<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/templates/css/styles.css">
</head>

<body>
  <div id="id04" class="modal">
    <span onclick=location.href='/' class="close" title="Close Modal">&times;</span>
    <form class="modal-content" action="/forgotPassword" method="POST">
      <div class="container">
        <h1>Forgot password</h1>
        <hr>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Full Name</b></label>
        <input type="text" placeholder="Enter your Full Name" name="name" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter New Password" name="password" required id="psw1"
          onclick="myFunction1()">
        <input type="checkbox" id="checkbox1" onclick="myFunction1()">Show Password

        <input type="password" placeholder="Enter Confirm Password" name="confirm_password" required id="psw2"
          onclick="myFunction2()">
        <input type="checkbox" id="checkbox2" onclick="myFunction2()">Show Password

        <div class="clearfix">
          <button type="submit" class="signupbtn">Submit</button>
          <button type="button" onclick=location.href='/' class="cancelbtn">Cancel</button>

        </div>
      </div>
    </form>
  </div>
  <script>

    function myFunction1() {
      var x = document.getElementById("psw1");
      var y = document.getElementById("checkbox1");
      if (y.checked) {
        x.type = "text";
        console.log(y.checked)
      } else {
        x.type = "password";
      }
    }

    function myFunction2() {
      var x = document.getElementById("psw2");
      var y = document.getElementById("checkbox2");
      if (y.checked) {
        x.type = "text";
        console.log(y.checked)
      } else {
        x.type = "password";
      }
    }

    var modal4 = document.getElementById('id04');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal4) {
        modal.style.display = "none";
      }
    }
  </script>
</body>

</html>