<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/templates/css/styles.css">
</head>

<body>
  <div id="id02" class="modal">
    <span onclick=location.href='/' class="close" title="Close Modal">&times;</span>
    <form class="modal-content" action="/login">
      <div class="container">
        <h1>Login</h1>
        <hr>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required id="psw" onclick="myFunction()">
        <input type="checkbox" id="checkbox" onclick="myFunction()">Show Password

        <div class="clearfix">
          <button type="submit" class="signupbtn">Login</button>
          <button type="button" onclick=location.href='/' class="cancelbtn">Cancel</button>

          <span class="psw">Forgot <a href="#forgoPassword" onclick="forgot()">password?</a></span>
        </div>
      </div>
    </form>
  </div>
  <script>




    function forgot() {
      document.getElementById('id02').style.display = 'none'
      document.getElementById('id04').style.display = 'block'
    }

    var modal2 = document.getElementById('id02');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal2) {
        modal.style.display = "none";
      }
    }

    function myFunction() {
      var x = document.getElementById("psw");
      var y = document.getElementById("checkbox");
      if (y.checked) {
        x.type = "text";
        console.log(y.checked)
      } else {
        x.type = "password";
      }
    }
  </script>
</body>

</html>